footer {
  
   /* background-color: var(--bg-color);*/
    text-align: center;
    display: block;
    color: var(--font-color);
    
}

.img-footer>img {
  display: inline-flex;
  max-width:200px;
  justify-content: center;
}

.icono-footer {
    width:30px;
    height:30px;
    /*viewBox: 0 0 30 30;
    max-width: 30px;
    max-height: fit-content;*/
    margin: 10px 10px 10px 10px;
    fill: var(--font-color);
    stroke: var(--font-color);
    stroke-width:0px;
}

