footer {
    background-color: var(--bg-color);
    text-align: center;
    
}

.img-footer{

    display: flex;
    height: auto;

}

.icono-footer {
    display: flex;
    flex-direction: row;
    width: 0.1rem;
    

}