footer {
  
   /* background-color: var(--bg-color);*/
    text-align: center;
    display: block;
    color: var(--font-color);
    
}

.img-footer>img {
  display: inline-flex;
  max-width:200px;
  justify-content: center;
}

.bi {
   margin: 20px;
  font-size: 40px;
}

.bi-facebook {
    color: rgb(17, 82, 223);
    background-color: white;
  
}
.bi-instagram {
  color: rgb(255, 255, 255);
  background-color: rgb(226, 73, 73);
}

.bi-pinterest {
  color: rgb(252, 21, 21);
  background-color: rgb(255, 255, 255);
}

.bi-linkedin {
  color: rgb(255, 255, 255);
  background-color: rgb(7, 82, 223);
}

.bi-twitter {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

