@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(/assets/Fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].woff2)
    format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red;*/
}

#gradiente {
  height: 1000px;
  background-color: var(--bg-color);
  background-image: linear-gradient(to bottom right, var(--bg-color), var(--primary-color));
}

/*body {
    
}*/

body {
  font-family: var(--font-family);
}
