
/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 1000*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


.roboto-flex-normalfont {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 88,
    "XTRA" 400,
    "YOPQ" 116,
    "YTAS" 750,
    "YTDE" -250,
    "YTFI" 600,
    "YTLC" 500,
    "YTUC" 725;
}




@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(/assets/Fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].woff2)
    format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red;*/
  font-family: 'Roboto Flex';
  font-size: 20px;
}

#gradiente {
  /*height: 1000px;*/
  /*background-color: var(--bg-color);*/
  background-image: linear-gradient(to bottom right, var(--bg-color), var(--primary-color));
  background-size: contain;
}

/*body {
    
}*/

body {
  font-family: var(--font-family);
}


@media screen and ((min-width: 650px) and (max-width: 760px)) {
  .img-container{
    flex-direction: row;
  }
}



@media screen and ((min-width: 600px) ) {

  .capa-superior {
    display: none;
  }

  .menu_m,
  .menu_m1 {
    display: none;
  }

  .ul-cont1 {
    display: inline-flex;
   
  }

  li {
    display: inline-flex;
  }
}

@media screen and (min-width: 761px) {
  .img-container{
    flex-direction: row;
    justify-content:space-evenly
  }
  .img-pallet {
    max-width: 600px;
     
  }

}