.capa-superior {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  /*position: absolute;*/
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: auto;
  height: 100%;
  z-index: 2;
}

.header-container {
  display: inline-flex;
  flex-direction: row;
  align-items: end; /*Vertical*/
  font-size: 20px;
  width: 100%;
}

.a-container>img {
  display: inline-flex;
  /*border: 2px;
  border-style: solid;
  border-color: rgb(245, 241, 241);*/
  max-width: 100%;
  min-width: 200px;
  max-height: auto;
  padding: 5px;
}

.nav-container {
  display: inline-flex;
  color: azure;
  /*border: 1px;
  border-style: solid;
  border-color: aqua;*/
  width: 80%;
  height: auto;
  align-items: baseline;
  justify-content: end;
}

.icono-menu {
  display: inline-flex;
  padding: 0.75rem;
}

.menu_m,
.menu_m1 {
  display: flex;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  background-color: unset;
  line-height: normal;
  cursor: pointer;
  z-index: 2;
}

/*.menu_m1 {
  background-color: rgb(231, 42, 216);
}*/

.check {
  display: none;
}

.ul-container {
  display: none; /*grid*/
  /*grid-auto-flow: row;*/
  /*position: fixed;*/
  width: fit-content;
  height: fit-content;
  top: 80px;
  right: 0px;
  bottom: 800px;
  width: 50%;
  /*background-color: var(--primary-color);*/
  /*justify-content: space-around;
  /*flex-direction: column;
  align-items:end;
  font-size: 20px;
  margin: 0px;
  width: 0.2rem;*/
  padding: 10px;
  text-wrap: nowrap;
  z-index: 2;
}

li {
  list-style: none;
  text-wrap: nowrap;
  padding: 0px 10px 0px 10px;
  align-items: end;
  justify-content: right;
  z-index: 2;
}

li > a {
  color: white;
  text-decoration: none;
  --clip: polygon(0 0, 0 0, 0 100%, 0% 100%);
  z-index: 2;
}

li > a::after {
  content: "";
  background-color: #fff;
  width: 100%;
  margin-top: 3px;
  height: 3px;
  display: block;
  clip-path: var(--clip);
  transition: clip-path 0.3s;
  z-index: 2;
}

li > a:hover {
  color: aliceblue;
  --clip: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  z-index: 2;
}

@media screen and ((min-width: 481px) and (max-width: 760px)) {

  .capa-superior {
    display: none;
  }

  .menu_m,
  .menu_m1 {
    display: none;
  }

  .ul-container {
    display: inline-flex;
    font-size: 15px;
  }

  li {
    display: inline-flex;
  }
}

@media screen and (min-width: 761px) {
  .menu_m,
  .menu_m1 {
    display: none;
  }

  .ul-container {
    display: inline-flex;
  }

  li {
    display: inline-flex;
  }
}

