.capa-superior {
  display:none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header-container {
  display: inline-flex;
  flex-direction: row;
  align-items: end; /*Vertical*/
  font-size: 15px;
  width: 100%;
}

.a-container>img {
  display: inline-flex;
  /*border: 2px;
  border-style: solid;
  border-color: rgb(245, 241, 241);*/
  max-width: 100%;
  min-width: 200px;
  max-height: auto;
  padding: 5px;
}

.nav-container {
  display: inline-flex;
  color: var(--font-color); /* azure;*/
  /*border: 1px;
  border-style: solid;
  border-color: aqua;*/
  width: 80%;
  height: auto;
  align-items: baseline;
  justify-content: end;
  z-index: 2;

}

.icono-menu {
  display: inline-flex;
  padding: 0.75rem;
}

.menu_m,
.menu_m1 {
  display: flex;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  background-color: unset;
  line-height: normal;
  cursor: pointer;
  z-index: 2;
}

.check {
  display: none;
}

.ul-cont1 {
  display:none;
  grid-auto-flow: row;
  justify-content:end;
  z-index: 2;
}

.ul-cont2 {
  font-size: 20px;
  display:grid; /*grid*/
  position: absolute;
  width:fit-content;
  top: 80px;
  z-index: 2;
}

li {
  list-style: none;
  text-wrap: nowrap;
  padding: 10px 10px 10px 10px;
  width: fit-content;
  justify-content: end;
  z-index: 2;
}

li > a {
  color: var(--font-color); /* white;*/
  text-decoration: none;
  --clip: polygon(0 0, 0 0, 0 100%, 0% 100%);
  z-index: 2;
}

li > a::after {
  content: "";
  background-color: vr(--font-color); /*#fff;*/
  width: 100%;
  margin-top: 3px;
  height: 3px;
  display: block;
  clip-path: var(--clip);
  transition: clip-path 0.3s;
  z-index: 2;
}

li > a:hover {
  color: var(--font-color); /* aliceblue;*/
  --clip: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  z-index: 2;
}


