.principal {
  justify-content: left;
  margin: 10px;
  color: var(--font-color); /* rgb(14, 32, 2); */
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  
}

.img-pallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 320px;
  padding: 10px;
  
}
/*objetos de la página de contacto*/
.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.linea-dato{
  display:flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/
  padding: 15px;
  align-items:baseline;
  /*justify-content:space-between;*/
}

.form-label{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  
}

.nombre{
  flex-direction: column;
  border: none;
}

.nom-men{
  display: none;
}

.apellido{
  flex-direction: column;
}

.ape-men{
  display: none;
}

.email{
  flex-direction: column;
}

.mail-men{
  display: none;
}

.men-men{
  display: none;
}

.term-men{
  display: none;
}

.form-dato {
display: flex;  
flex-wrap: wrap;
}

.aviso {
  display:flex;
  color: white;
  font-size: 15px;
  border: 2px solid red;
}

@media screen and ((min-width: 650px) and (max-width: 760px)) {
  .img-container{
    flex-direction: row;
  }
}

@media screen and (min-width: 761px) {
  .img-container{
    flex-direction: row;
    justify-content:space-evenly
  }
  .img-pallet {
    max-width: 600px;
     
  }

}
