.principal {
  justify-content: left;
  margin: 10px;
  color: rgb(14, 32, 2);
}

.img-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
}

.img-pallet {
  display: inlincol-md-4e-flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  min-width: 300px;
  padding: 10px;
  
}
/*objetos de la página de contacto*/
.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.linea-dato{
  display:inline-flex;
  padding: 15px;
  align-items:center;
  justify-content:space-between;
}

.form-label{
  padding: 10px;
  
}
.form-dato {
  
}

@media screen and ((min-width: 650px) and (max-width: 760px)) {
  .img-container{
    flex-direction: row;
  }
}

@media screen and (min-width: 761px) {
  .img-container{
    flex-direction: row;
    justify-content:space-evenly
  }
  .img-pallet {
    max-width: 600px;
     
  }

}
